@model IEnumerable<CarModel>

@{
    ViewData["Title"] = "Cars";
}

<h2>@ViewData["Title"]</h2>
<a href="/cars/add" class="btn btn-success">+ Add Car</a>
<br /><br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Make
            </th>
            <th>
                Model
            </th>
            <th>
                Travelled Distance
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>
                    <a href="/cars/@car.Make">@car.Make</a>
                </td>
                <td>
                    @car.Model
                </td>
                <td>
                    @car.TravelledDistance km
                </td>
                <td>
                    <a href="cars/@car.Id/parts" class="btn btn-info">Check Parts</a>
                </td>
            </tr>
        }
    </tbody>
</table>
