@model CustomerTotalSalesModel;

@{
    ViewData["Title"] = $"{Model.Name}";
}

<h2>@ViewData["Title"]</h2>

<p>
    <h3>Cars bought: @Model.BoughtCars.Count()</h3>  
</p>

<p>
    <h4>Total spent: @Model.TotalMoneySpent.ToString("F2")$</h4>
</p>
